version: "3.2"

volumes:
  postgres-data:
  teamcity-datadir:
  teamcity-logs:
  teamcity-agent-conf:
  rabbitmq-data:
  registry-data:

services:
  # http://localhost:8111
  teamcity:
    image: jetbrains/teamcity-server:2020.2.2
    volumes:
      - teamcity-datadir:/data/teamcity_server/datadir
      - teamcity-logs:/op/teamcity/logs
    ports:
      - 8111:8111

  teamcity-agent:
    image: jetbrains/teamcity-agent:2020.2.2
    volumes:
      - teamcity-agent-conf:/data/teamcity_agent/conf
    ports:
      - 9090:9090
    depends_on:
      - teamcity

  # http://localhost:8082
  psqladminer:
    image: adminer
    restart: always
    ports:
      - 8082:8080

  # http://localhost:8083
  rabbitmq:
    image: rabbitmq:3.8-management
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=123qwe
    ports:
      - 8083:15672

  # This will show you all the nodes in the swarm 
  # and the containers that are running on them
  # http://localhost:8084
  viz:
    image: dockersamples/visualizer
    ports:
      - 8084:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  # setups up a postgres RDBMS, you can login with 
  # username: postgres
  # password: defined below
  postgres:
    image: postgres:12
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=123qwe
    ports:
      - 5432:5432

  # this is a docker registry
  # docs at https://docs.docker.com/registry/deploying/
  registry:
    image: registry:2.71
    ports:
      - 5000:5000
    volumes:
      - registry-data:/var/lib/registry
    restart: always

  # Redis instance 
  redis:
    image: redis:6.0.8
    ports:
      - 6379:6379
